{% extends "base.html" %}
{% load static %}

{% block title %}Talkure{% endblock %}
 {% block static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}?v=1.1"> 
<link rel="stylesheet" href="{% static 'css/home.css' %}?v=1.1">
{% endblock %}

{% block content %}


    {% comment %} 
            Main body for home page
    {% endcomment %}


     <div class="container">
        <div class="card">
            <h1>Welcome to Talkure</h1>
            <div class="features">
                <div class="feature">
                    <img src="media/piggy.svg" alt="Free Icon" />
                    <h2>Free</h2>
                    <p>Talkure provides free cloud storage chats and media</p>
                </div>
                <div class="feature">
                    <img src="media/secure.svg" alt="Secure Icon" />
                    <h2>Secure</h2>
                    <p>Talkure keep your messages safe from hacker attack</p>
                </div>
                <div class="feature">
                    <img src="media/upload.svg" alt="Cloud Icon" />
                    <h2>Cloud</h2>
                    <p>Talkure let you access your messages from multiple devices</p>
                </div>
            </div>
            <div class="btn">
                {% if request.session.user_id %} 
                    <a href="#" class="login-btn">Let's Chat</a>
                {% else %}
                    <a href="{% url 'login_view' %}" class="login-btn">Login</a>
                    <a href="{% url 'signup_view' %}" class="login-btn">SignUp</a>
                {% endif %}
            </div>
                
        </div>
    </div>
            
        
      

 
   



    {% comment %} 
            Footer code below
    {% endcomment %}

   



{% endblock %}